@import '../../config.scss';

.home-background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 109px);
  background-image: url("../../public/images/TrainerPix\ Cover\ Photo.jpg");
  background-position: center center;
  background-size: cover;
}