.button {
  margin: 10px;
  color: #ffffff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #455a64;
  padding: 20px 50px;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.4s ease 0s;
  }

  .button:hover {
    color: #000 !important;
    background: #64ffda;
    transition: all 0.4s ease 0s;
    }