@import '../../config.scss';

.register {
  @include container;
  display: flex;
  justify-content: center;

  &__row {
    @include row;
  }

  &__col {
    @include columns(12);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    margin-bottom: $gutter / 2;
  }

  &__form {
    margin-bottom: $gutter;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__error {
    margin-bottom: $gutter;
    color: red;
  }

  &__input {
    margin-bottom: $gutter / 2;
    color: red;
  }

  &__input label {
    flex: 0 1 150px;
  }

  &__link {
    color: $color-font;
  }
}
